html{
    scroll-behavior: smooth;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-left: 8em;
    margin-right: 8em;
    position: sticky;
    top: 0;
}

#tabs > a {
    color: black;
    text-decoration: none;
    border-bottom: 3px solid white;
    padding: 5px;
    justify-content: space-between;

}

#tabs > a:hover{
    font-size: large;
    color: white;
    transition: all 0.3s ease-in;
    background-color: black;
}

body{
    background-color: cornflowerblue;
    
}

#intro{
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#intro > img{
    border-radius: 30%;
    width: 240px;
    height: 320px;
}

#intro > a{
    color: white;
    text-decoration: solid;
    transition: ease-out 0.3s;
}

.intro-link > a{
    text-decoration: none;
    color: black;
    font-size: 40px;
    transition: ease-out 0.3s;
}

.intro-link > a:hover{
    text-decoration: none;
    color: white;
    font-size: 50px;
}

article{
    padding: 15px;
}

article > p {
    margin: 0 0 1rem 0;
}

header{
    margin: 3em auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

li {
    font-size: 20px;
}

header h1 {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 1rem;
    border-bottom: 4px solid white;
    border-radius: 1px;
}

.projects{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    gap: 8em;

}

.project-card{
    display: flex;
    width: 50em;
    height: 25em;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.801);
    color: black;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
}

.screenshot > img{
    width: 550px;
    height: auto;
    border-radius: 8px;
        box-shadow: 0 8px 24px rgba(0,0,0,0.6);

}

.description > a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    transition: all 0.4s ease-in-out;
}

.description > a:hover{
    font-size: large;
    text-decoration: underline;

}

.description > h2{
    border-left: 2px solid black;
    padding: 5px;
    margin-bottom: 20px;
}

.description > p{
    margin-bottom: 20px;
}

.description{
    margin-left: 2em;
}

.experiences{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.experience-card{
    width: 44em;
    display: flex;
    border-left: 5px solid white;
    border-radius: 4px;
    padding: 7px;
    justify-content: space-between;
    margin-bottom: 30px;

}

.experience-card > p{
    color: gray;
}

.role-time{
    width: 18em;
     margin-right: 20px; 
}

.company-location{
    width: 18em;
    margin-right: 20px; 
}

#languages {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.languages{
    display: flex;
    color:black;
    width: 60em;
    justify-content: space-between;
}

.language-icon > p {
    font-size: x-large;
    font-weight: 700;
}
.language-icon {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.language-icon > p > i{
    font-size: 80px;
}

.intro-link{
    height: 100px;
}


img{
    size: 30px;
}

.download-links{
    margin-top: 10px;
    padding: 10px;

}

.download-button{
    text-decoration: none;
    border: 2px solid black;
    padding: 7px;
    border-radius: 8px;
    color: black;
    transition: ease-out 0.3s;
    margin: 0px 10px;
}

.download-button:hover{
    color: white;
    background-color: black;
}
    